<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<style>
    body
    {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/static/images/accounts-bg.jpeg");
    }
    h1, h2
    {
        color: #4B3322;
    }
    p
    {
        color: #6F4E37;
    }
</style>
<body>
    <h1>Sign up successfully</h1>
    <!--
        <h2>User name:</h2>
        <p>{{ request.user.username }}</p>    
    -->
    <h1>welcome to Translation Bridge World</h1>
</body>
</html>