<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<style>
    main
    {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: beige;
    }
    h1
    {
        text-align: center;
        color: burlywood;
    }
</style>

<body>
    <main>
      <h1>Message sends successfully</h1>  
    </main>  
</body>
</html>