

    {% for translator in translators %}
        <div class="container">
            <div class="card">
                <div class="content">
                    <h2>{{translator.name}}</h2>
                    <p>{{translator.experience | truncatechars:100 }}</p>

                    {% if request.user.is_authenticated %}
                        <a href="{% url 'translators:translator_detail_view' translator.id %}">Read More</a>
                    {% endif %}
                </div>
                <div class="imgBx">
                    <img src="{{translator.image.url}}" alt="">
                </div>
                <div class="textBx">
                    <h5>{{translator.specialties.name}}</h5>
                </div>
            </div>
        </div>
    {% endfor %}
  
